/* .container {
    background-color: rgb(232, 242, 245);
    padding: 50px 40px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 25px #a7a7a7
} */
/* 
.tag {
    text-align: center;
    font-size: 1.1rem
}

.fa-heart {
    color: rgba(255, 230, 0, 0.959);
    font-size: 30px
}

.card {
    height: 320px;
    padding: 10px 20px;
    border: none;
    box-shadow: -1px 3px 5px #a7a7a7
    border: 1px solid #fdd800;
}
*/
.testimonial {
    font-size: 1.3rem;
} 

.owl-item > .card {
    height: 360px;
    padding: 10px 20px;
    border: none;
    box-shadow: -1px 3px 5px #a7a7a7;
    border: 1px solid #fdd800;
}

.active-star {
    color: #FBC02D;
    margin-bottom: 8px
}

.active-star:hover {
    color: #F9A825;
    cursor: pointer
}

.profile {
    padding-top: 10px;
    position: absolute;
    display: inline-flex;
    bottom: 16px;
    width: 100%;
}

.name {
    font-weight: 700
}

.designation {
    font-size: 0.84rem;
    font-weight: 600
}

.owl-carousel {
    margin-bottom: 15px
}

.owl-carousel .owl-stage-outer {
    padding: 40px 10px;
    height: 420px
}

.owl-carousel .owl-item img {
    width: 45px !important;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}

.owl-theme .owl-nav [class*='owl-'] {
    border-radius: 50% !important;
    background: inherit !important;
    border: 3px solid #bbb;
    color: #bbb !important
}

.owl-theme .owl-nav [class*='owl-']:hover {
    border: 3px solid #1010ca;
    color: #1010ca !important
}

@media(max-width: 575.5px) {
    .container {
        margin: 0px;
        padding: 20px
    }
}
@media (min-width: 0px) and (max-width: 420px) {
    .owl-carousel .owl-stage-outer {
        height: 530px
    }
    .owl-item > .card {
        height: 480px;
    }
}
@media (min-width: 420px) and (max-width: 520px) {
    .owl-carousel .owl-stage-outer {
        height: 500px
    }
    .owl-item > .card {
        height: 450px;
    }
}
@media (min-width: 575px) and (max-width: 991px) {
    .owl-carousel .owl-stage-outer {
        height: 480px
    }
    .owl-item > .card {
        height: 430px;
    }
}
@media (min-width: 991px) and (max-width: 1200px) {
    .owl-carousel .owl-stage-outer {
        height: 480px
    }
    .owl-item > .card {
        height: 430px;
    }
}